<h2>{{team | titlecase }} team</h2>
<button mat-button (click)="setTeam()">Set Team</button>
<button mat-button (click)="addCPU()">Add CPU</button>

<mat-accordion>
  <mat-expansion-panel *ngFor="let key of sortedKeys" hideToggle [disabled]="!teamDict[key].engineSettings" (destroyed)="onDestroy()">
    <mat-expansion-panel-header appPanelHeaderDisableEvents>
      <mat-panel-title>
        {{teamDict[key].name}}

      <app-editable-span
        style="position:absolute;right:10px;"
        [setNumber]="setSortNumberFns[key]"
        [value]="teamDict[key].sortNumber"
      ></app-editable-span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-player-config [playerId]="key"></app-player-config>
  </mat-expansion-panel>
</mat-accordion>
