<div style="display: inline-flex;" [ngStyle]="{'flex-direction': flexDirection}">
  <app-player-list [currentId]="currentId | async | replaceNullWithEmpty" [players]="blackNames | async" [nextId]="nextId | async | replaceNullWithEmpty"></app-player-list>
  <!-- <p style="font-size:1em">I AM: {{myName | async}}</p>
  <p style="font-size:1em">CurrentTurn: {{currentTurn | async}}</p> -->
  <p>{{blackTime | async | chessTimerFormat}}</p>
  <p class="final-result">{{currentStatus | async}}</p>
  <app-analyse-button *ngIf="(currentStatus | async) != ''"></app-analyse-button>
  <button (click)="rematch()">Rematch</button>
  <p>{{whiteTime | async | chessTimerFormat}}</p>
  <app-player-list [currentId]="currentId | async | replaceNullWithEmpty" [players]="whiteNames | async" [nextId]="nextId | async | replaceNullWithEmpty"></app-player-list>
</div>