<style>
.flex-container {
  display: flex;
  min-width: 550px;
}

.flex-child {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background: #eee;
}  

.flex-child:first-child {
  margin-right: 20px;
}
</style>

<h1>MP Lobby</h1>
<p><a [routerLink]="hostUrl">{{url}}</a></p>


<app-snap-slider
label="White time"
[min]="15"
[max]="3600"
[value]="(sharedData | async)?.timerSettings?.whiteTime"

[updateModel]="updateWhiteTime"
></app-snap-slider>

<app-snap-slider
label="White increment"
[min]="0"
[max]="30"
[value]="(sharedData | async)?.timerSettings?.whiteIncrement"

[updateModel]="updateWhiteIncrement"
></app-snap-slider>

<div class="flex-container">
  <div class="flex-child">
    <app-team-selection-panel [team]="'white'"></app-team-selection-panel>
  </div>
  
  <div class="flex-child">
    <app-team-selection-panel [team]="'black'"></app-team-selection-panel>
  </div>

</div>
<!-- <button mat-button (click)="readyClick()">{{readyString}}</button>
<p>numReady: {{numberReady}}</p> -->
<div style="text-align:center; padding-top:10px">
  <button mat-stroked-button (click)="startGame()">Start</button>
</div>
