<style>
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
}
</style>

<h1>MP Lobby</h1>
<p><a [routerLink]="hostUrl">{{url}}</a></p>
Players:

<div class="flex-container">

  <div class="flex-child magenta">
    <button mat-button (click)="setTeam('white')">Set Team</button>
    <ul>
      <li *ngFor="let item of (team1Names | async) | keyvalue" [style.font-weight]="item.value.isOwnedByMe ? 'bold' : 'normal'">
        {{item.value.name}}
      </li>
    </ul>
  </div>
  
  <div class="flex-child green">
    <button mat-button (click)="setTeam('black')">Set Team</button>
    <ul>
      <li *ngFor="let item of (team2Names | async) | keyvalue" [style.font-weight]="item.value.isOwnedByMe ? 'bold' : 'normal'">
        {{item.value.name}}
      </li>
    </ul>
  </div>

</div>
<button mat-button (click)="readyClick()">{{readyString}}</button>
<p>numReady: {{numberReady}}</p>
<button mat-button (click)="startGame()">Start</button>
